<h2>My reciepies</h2>
<app-recipie-search [(recipies)]="recipies" [(currentSearchTerm)]="term"></app-recipie-search>
<ul *ngIf="term === ''" class="recipies">
  <li *ngFor="let recipie of recipies">
    <a routerLink="/detail/{{ recipie.id }}">
      <span class="badge"
        ><img
          class="image"
          [src]="
            'https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png'
          "
      /></span>
      <span class="name">{{ recipie.name }}</span>
    </a>
    <button
      type="button"
      class="delete"
      title="delete recipie"
      (click)="deleteRecipie(recipie)"
    >
      x
    </button>
  </li>
</ul>
