/* FoldersComponent's private CSS styles */
.folders {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
}

h2 {
  color: white;
}

.folders li {
  position: relative;
  cursor: pointer;
}

.folders li:hover {
  left: 0.1em;
}

.folders a {
  color: #333;
  text-decoration: none;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.75em;
  border-radius: 4px;
  display: block;
  width: 80%;
}

.folders a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.folders a:active {
  background-color: #525252;
  color: #fafafa;
}

.folders .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #cad0d6;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.7em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.image {
  position: relative;
  border: none;
  left: -1px;
  top: -4px;
  height: 1.7em;
  min-width: 16px;
}

.folders .name {
  position: relative;
  bottom: 15px;
  background-color: #eee;
  width: fit-content;
  height: max-content;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.button:hover {
  background-color: #cfd8dc;
}

.button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button.delete {
  position: absolute;
  text-align: right;
  bottom: 20%;
  right: 20%;
  cursor: pointer;
  background-color: none;
  border: none;
  color: red;
}

button.fav {
  cursor: pointer;
  position: absolute;
  text-align: right;
  bottom: 10%;
  right: calc(20% + 20px);
  background-color: none;
  border: none;
}

button.fav:hover {
  background-color: #eee;
}

.img-fav {
  height: 1em;
}

.recipie-ingredients {
  margin-top: 20px;
  height: 200px;
  width: 100%;
}

.mat-card {
  background-color: rgb(90, 90, 90);
  width: 40%;
  height: fit-content;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: white;
}
