<h2>Moje przepisy</h2>
<h2>JESTEŚ TERAZ W FOLDERZE: {{folder.name | uppercase}}</h2>
<div class="grid">
  <div>
    <app-in-folder-search
      [(folder)]="folder"
      [(currentSearchTerm)]="term"
    ></app-in-folder-search>
    <ul *ngIf="term === ''" class="folders">
      <a
        *ngIf="parent.id != folder?.id"
        class="parent"
        routerLink="/folder/{{ parent.id }}"
      >
        <span class="badge"
          ><img
            class="image"
            [src]="
              'https://www.iconpacks.net/icons/2/free-folder-icon-1484-thumb.png'
            "
        /></span>
        <span class="name"> {{ parent.name }}</span>
      </a>
      <li *ngFor="let folder of folder?.folders">
        <a routerLink="/folder/{{ folder.id }}">
          <span class="badge"
            ><img
              class="image"
              [src]="
                'https://www.iconpacks.net/icons/2/free-folder-icon-1484-thumb.png'
              "
          /></span>
          <span class="name">{{ folder.name }}</span>
        </a>
        <button
          type="button"
          class="delete"
          title="delete folder"
          (click)="deleteFolder(folder.id)"
        >
          x
        </button>
      </li>
      <li *ngFor="let recipie of folder?.recipies">
        <a routerLink="/detail/{{ recipie.id }}">
          <span class="badge"
            ><img
              class="image"
              [src]="
                'https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png'
              "
          /></span>
          <span class="name">{{ recipie.name }}</span>
        </a>
        <button
          type="button"
          class="delete"
          title="delete recipie"
          (click)="deleteRecipie(recipie)"
        >
          x
        </button>
      </li>
    </ul>
  </div>
  <div class="form">
    <h2>Dodaj przepis w tym folderze</h2>
    <label for="new-recipie">Nazwa przepisu: </label>
    <input id="new-recipie" #recipieName />
    <label for="new-recipie">Składniki: </label>
    <textarea
      class="recipie-ingredients"
      ingridients="new-recipie"
      aria-multiline="true"
      #recipieIngredients
    ></textarea>
    <label for="new-recipie">Przygotowanie: </label>
    <textarea
      preparation="recipie-preparation"
      class="recipie-ingredients"
      aria-multiline="true"
      #recipiePreparation
    ></textarea>
    <button
      type="button"
      class="add-button"
      (click)="
        addRecipie(
          recipieName.value,
          recipieIngredients.value,
          recipiePreparation.value
        );
        recipieName.value = '';
        recipieIngredients.value = '';
        recipiePreparation.value = ''
      "
    >
      Dodaj przepis
    </button>
  </div>

  <div class="form">
    <h2>Dodaj folder w tym folderze</h2>
    <label for="new-folder">Nazwa: </label>
    <input id="new-folder" #folderName />
    <button
      type="button"
      class="add-button"
      (click)="addFolder(folderName.value); folderName.value = ''"
    >
      Dodaj folder
    </button>
    <div *ngIf="availableFolders.length !== 0">
      <h2>Przenieś do nowego folderu</h2>
      <select class="drop-dawn" id="move-to-new-folder" #newFolder>
        <option *ngFor="let folder of availableFolders" value="{{ folder.id }}">
          {{ folder.name }}
        </option>
      </select>
      <button type="button" (click)="moveToNewFolder(newFolder.value)">
        Przenieś
      </button>
    </div>
  </div>
</div>
