<div id="search-component">
  <mat-card class="mat-card-search">
    <mat-card-header>
      <label for="search-box">Search:</label>
    </mat-card-header>
    <mat-card-content>
      <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content *ngIf="currentSearchTerm !== ''">
      <ul class="search">
        <li *ngFor="let folder of folders$ | async">
          <a routerLink="/folder/{{ folder.id }}">
            <span class="badge"
              ><img
                class="image"
                [src]="
                  'https://www.iconpacks.net/icons/2/free-folder-icon-1484-thumb.png'
                "
            /></span>
            <span class="name">{{ folder.name }}</span>
            <span>
              <button
            type="button"
            class="delete"
            title="delete folder"
            (click)="deleteFolder(folder.id)"
          >
            x
          </button>
            </span>
          </a>
          
        </li>
        <li *ngFor="let recipie of recipies$ | async">
          <a routerLink="/detail/{{ recipie.id }}">
            <span class="badge"
              ><img
                class="image"
                [src]="
                  'https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png'
                "
            /></span>
            <span class="name">{{ recipie.name }}</span>
            <span>
              <button
                type="button"
                class="fav"
                title="add/remove from fav"
                (click)="addOrRemoveFromFav(recipie)"
              >
                <img
                  *ngIf="recipie.favourite"
                  class="img-fav"
                  src="https://img.icons8.com/color/512/hearts.png"
                />
                <img
                  *ngIf="!recipie.favourite"
                  class="img-fav"
                  src="https://img.icons8.com/windows/512/hearts.png"
                />
              </button>
            </span>
            <span>
              <button
              type="button"
              class="delete"
              title="delete recipie"
              (click)="deleteRecipie(recipie)"
            >
              x
            </button></span>
          </a>          
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
