<div id="search-component">
  <label for="search-box">Recipie Search</label>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <ul class="search-recipies">
    <li *ngFor="let recipie of recipies$ | async">
      <a routerLink="/detail/{{ recipie.id }}">
        <span class="badge"
          ><img
            class="image"
            [src]="
              'https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png'
            "
        /></span>
        <span class="name">{{ recipie.name }}</span>
      </a>
      <button
        type="button"
        class="delete"
        title="delete recipie"
        (click)="deleteRecipie(recipie)"
      >
        x
      </button>
    </li>
  </ul>
</div>
