<div class="grid">
  <mat-card class="mat-card width70">
    <div *ngIf="recipie">
      <mat-card-header>
        <h2>
          {{ recipie.name | uppercase }} <br />Recipe from folder:
          {{ parent?.name }}
        </h2>
      </mat-card-header>
      <mat-card class="mat-card-content">
        <label for="recipie-name">Name: </label>
        <input
          id="recipie-name"
          [(ngModel)]="recipie.name"
          placeholder="name"
        />
      </mat-card>
      <mat-card class="mat-card-content">
        <label for="recipie-ingredients">Ingredients: </label>
        <textarea
          class="margin"
          id="recipie-ingredients"
          class="recipie-ingredients"
          [(ngModel)]="recipie.ingredients"
          placeholder="ingredients"
        >
[(ngModel)]="recipie.ingredients"</textarea
        >
      </mat-card>
      <mat-card class="mat-card-content">
        <label for="recipie-preparation">Preparation: </label>
        <textarea
          id="recipie-preparation"
          class="recipie-ingredients"
          [(ngModel)]="recipie.preparation"
          placeholder="preparation"
        >
[(ngModel)]="recipie.preparation"</textarea
        >
      </mat-card>
    </div>
    <div>
      <button class="left-button" type="button" (click)="save()">Save</button>
      <button class="right-button" type="button" (click)="goBack()">
        Go back
      </button>
    </div>
  </mat-card>

  <mat-card class="mat-card">
    <h2>Move to another folder</h2>
    <mat-form-field appearance="fill">
      <mat-label>Select new folder</mat-label>
      <mat-select id="move-to-new-folder" #newFolder>
        <mat-option *ngFor="let folder of folders" value="{{ folder.id }}">{{
          folder.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button type="button" (click)="moveToNewFolder(newFolder.value)">
      Move
    </button>
  </mat-card>
</div>
