<div *ngIf="recipie">
  <h2>{{ recipie.name | uppercase }} Szczegóły</h2>
  <button type="button" (click)="save()">save</button>
  <div>id: {{ recipie.id }}</div>
  <div class="block">
    <label for="recipie-name">Nazwa przepisu: </label>
    <input id="recipie-name" [(ngModel)]="recipie.name" placeholder="name" />
  </div>
  <div class="block">
    <label for="recipie-ingredients">Składnki: </label>
    <input
      id="recipie-ingredients"
      [(ngModel)]="recipie.ingredients"
      placeholder="ingredients"
    />
  </div>
</div>
<button type="button" (click)="goBack()">go back</button>
