/* RecipieDetailComponent's private CSS styles */
label {
  color: white;
  font-weight: bold;
}

h2 {
  color: white;
}

input {
  font-size: 1em;
  padding: 0.5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: auto;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.recipie-ingredients {
  margin-top: 20px;
  height: 200px;
  max-width: 100%;
}

.grid {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.left-button {
  text-align: left;
  position: relative;
  left: 0;
  margin-left: 0;
}

.right-button {
  text-align: right;
  position: relative;
  right: 0;
  margin-right: 0;
}

.mat-card {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(70, 70, 70);
  width: 25%;
  height: fit-content;
}

.margin {
  margin-bottom: 20px;
}

.width70 {
  width: 70%;
}

.mat-card-content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(70, 70, 70);
}
