<mat-card class="mat-card">
  <mat-card-header> <h2>My recipes</h2></mat-card-header>
  <mat-card-content>
    <app-recipie-search
      [(recipies)]="recipies"
      [(currentSearchTerm)]="term"
    ></app-recipie-search>
    <mat-card>
      <mat-card-content *ngIf="term === ''">
        <ul class="recipies">
          <li
            *ngFor="
              let recipie of recipies
                | paginate
                  : {
                      itemsPerPage: tableSize,
                      currentPage: page,
                      totalItems: count,
                      id: 'recipie'
                    }
            "
          >
            <a>
              <span class="badge" routerLink="/detail/{{ recipie.id }}"
                ><img
                  class="image"
                  [src]="
                    'https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png'
                  "
              /></span>
              <span routerLink="/detail/{{ recipie.id }}" class="name">{{
                recipie.name
              }}</span>
              <span>
                <button
                  type="button"
                  class="fav"
                  title="add/remove from fav"
                  (click)="addOrRemoveFromFav(recipie)"
                >
                  <img
                    *ngIf="recipie.favourite"
                    class="img-fav"
                    src="https://img.icons8.com/color/512/hearts.png"
                  />
                  <img
                    *ngIf="!recipie.favourite"
                    class="img-fav"
                    src="https://img.icons8.com/windows/512/hearts.png"
                  />
                </button>
              </span>
              <span>
                <button
                  type="button"
                  class="delete"
                  title="delete recipie"
                  (click)="deleteRecipie(recipie)"
                >
                  x
                </button>
              </span>
            </a>
          </li>
        </ul>
        <mat-card class="mat-card-pagination">
          <pagination-controls
            *ngIf="term === ''"
            id="recipie"
            previousLabel="Prev"
            nextLabel="Next"
            (pageChange)="onTableDataChange($event)"
          >
          </pagination-controls>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
