html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
 background-color: rgb(50, 50, 50);
  --mat-focus-indicator-border-width: 0;
  --mat-mdc-focus-indicator-border-width: 0;
}
button.mat-menu-item:focus{
  outline: none;
}